<mat-card class="search-container">
    <mat-card-content>
        <form class="search-form" #myform="ngForm" (ngSubmit)="search(myform)">
            <h4>Search Query</h4>
            <mat-form-field class="form-full-width">
                <mat-label>Search Query</mat-label>
                <input name="query" id="query" matInput placeholder="Search Query" value="" required ngModel />
            </mat-form-field>

            <h4>Search By</h4>
            <mat-form-field class="form-full-width">
                <mat-label>Search By</mat-label>
                <select name="searchType" id="searchType" matNativeControl required ngModel>
                    <option value="plate">Plate number</option>
                    <option value="model">Model</option>
                    <option value="make">Make</option>
                    <option value="rental">Day rental</option>
                    <option value="type">Vehicle Type</option>
                </select>
            </mat-form-field>

            <button mat-raised-button (click)="clearSearch(myform); $event.preventDefault()">Clear Search</button>&nbsp;
            <button mat-raised-button color="primary" type="submit">Search</button>
        </form>
    </mat-card-content>
</mat-card>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="plateNumber">
        <th mat-header-cell *matHeaderCellDef width="16%"> Plate number </th>
        <td mat-cell *matCellDef="let element"> {{element.plateNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="make">
        <th mat-header-cell *matHeaderCellDef width="16%"> Make </th>
        <td mat-cell *matCellDef="let element"> {{element.make}} </td>
    </ng-container>

    <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef width="16%"> Model </th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
    </ng-container>

    <ng-container matColumnDef="dayRental">
        <th mat-header-cell *matHeaderCellDef width="16%"> Day rental </th>
        <td mat-cell *matCellDef="let element"> {{element.dayRental}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef width="16%"> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef width="20%"> Action </th>
        <td mat-cell *matCellDef="let element"> <a mat-raised-button color="primary"
                href="/reserve/{{element.plateNumber}}">Reserve</a></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>